<div class="container" id="question_block">
    <div class="card card-block bg-light">
        <div class="media">
            <img class="mr-3" src="<%= @question.gravatar %>" alt="Matty the fatty">
            <div class="media-body">
                <h5 class="mt-0"><%= @question.email%> asked:</h5>
                <%= @question.body %>
            </div>
        </div>
    </div>
</div>

<div class="container col-sm-10" id="answer_block">
    <div style="padding-top: 16px; padding-bottom: 16px;">
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#new-answer-modal">Submit new answer</button>
    </div>

    <!--Answer Popup Modal --> 
    <%= render 'layouts/new_answer_form' %>
    <div class="answer-list">
        <% @answers.each do |answer| %>
            <div class="card card-block bg-light">
                <div class="media">
                    <img class="mr-3" src="<%= answer.gravatar %>" alt="">
                    <div class="media-body">
                        <h5 class="mt-0"><%= answer.email %> answered:</h5>
                        <div class="time"><%= time_ago_in_words answer.created_at %> ago</div>
                        <%= answer.body %>
                    </div>
                </div>
            </div>
        <% end %>
        <% if @answers.empty? %>
            <div class="alert alert-info" role="alert">No answers posted yet!</div>
        <% end %>
    </div>
</div>


