<h1>Home</h1>
<p>This is action page of the home controller</p>

<div class="container" id="question_block">
    <% @questions.each do |q| %>
    <div class="card card-block bg-light">
        <div class="media">
            <img class="mr-3" src= <%= q.gravatar %> >
            <div class="media-body">
                <h5 class="mt-0"><%= q.email %> asked:</h5>
                <div><%= time_ago_in_words q.created_at %> ago</div>
                <%= q.body %>
            </div>
        </div>
        <div>
            <a href="<%= question_path(q) %>" class="btn btn-success btn-xs float-right">View answers</a>
        </div>
    </div>
    <% end %>
</div>

